<!DOCTYPE html>
<html lang="en">
<head>
  <title>OrangeWolf</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Raleway:300' rel='stylesheet' type='text/css'>
</head>
<body>

<%= render 'layouts/nav' %>

<header class="matrix-box">
  <div class="name-box">
    <h1>ANDY-DEV</h1>
    <h3>Web Developer</h3>
  </div>

  <div class="quote-box">
    <h3>Welcome.. to the real world</h3>
  </div>

</header>



<section class="big"></section>


<%= render 'layouts/banner' %>
<%= yield %>

</body>
</html>


