<!DOCTYPE html>
<html lang="en">
<head>
  <title>OrangeWolf</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Raleway:300' rel='stylesheet' type='text/css'>
</head>
<body>

<%= render 'layouts/nav' %>
<%= render 'layouts/banner' %>

<div class="container">
  <div class="projects">

    <h1>Projects</h1>
    <div class="row project-row">
      <figure class="col-md-4">
        <img src="/assets/landing_nepal.png" style="height:300px; width:300px;"/>
      </figure>
      <figure class="col-md-4">
        <img src="/assets/landing_vol.png" style="height:300px; width:300px;"/>
      </figure>
      <figure class="col-md-4">
        <img src="/assets/landing_waitneat.png" style="height:300px; width:300px;"/>
      </figure>
    </div>

    <div class="row project-row">
      <figure class="col-md-4">
        <img src="/assets/landing_codeSf.png" style="height:300px; width:300px;"/>
      </figure>
      <figure class="col-md-4">
        <img src="/assets/landing_solmap.png" style="height:300px; width:300px;"/>
      </figure>
      <figure class="col-md-4">
        <img src="/assets/landing_movie.png" style="height:300px; width:300px;"/>
      </figure>
    </div>

    <div class="row project-row">
      <figure class="col-md-4">
        <img src="/assets/landing_elapser.png" style="height:300px; width:300px;"/>
      </figure>
    </div>

  </div>
</div>





<section class="big"></section>


<%= render 'layouts/banner' %>
<%= yield %>

</body>
</html>


